a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #579ECF;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #EB973F;
	text-decoration: none;
}